:root {
  --fonts-proportional: -apple-system,"Segoe UI",system-ui,Roboto,"Helvetica Neue",Arial;
}

html, body, #root, #app { height: 100%; }

body {
  font-family: var(--fonts-proportional);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.txc { text-align: center; }
.txl { text-align: left;   }
.txr { text-align: right;  }

.p8  { padding: 8px; }
.p16 { padding: 16px; }

.pt8  { padding-top: 8px; }

.pl8  { padding-left: 8px; }
.pl16 { padding-left: 16px; }

.m8   { margin: 8px; }
.mt8  { margin-top: 8px; }
.mt16 { margin-top: 16px; }
.mh4  { margin-left: 4px; margin-right: 4px; }

.small { font-size: 11px; }

.hFlex {
  display: flex;
  align-items: center;
}

.hFlexBorder {
  border-bottom: 1px solid;
  border-bottom-color: var(--nord3);
  padding-bottom: 4px;
}

.matchLabel {
  background-color: var(--nord10);
  border-radius: 4px;
  text-align: center;
  padding: 4px;
}

.frame {
  border: 2px solid var(--nord1);
  border-radius: 0.3em;
  margin-top: 16px;
  margin-bottom: 16px;
}

textarea.editor {
  font-size: 12px;
  width: 100%;
  resize: none;
  overflow-y: scroll;
  color: var(--nord4);
  background-color: var(--nord0);
  border-color: var(--nord3);
  border: 1px solid var(--nord1-pale);
  border-radius: 3px;
  padding: 8px;
  outline: none;
  transition: 0.3s;
  transition-property: border-color, background-color;
}

.pill {
  font-size: 11px;
  color: var(--nord6);
  padding: 2px 12px;
  text-align: center;
  border-radius: 16px;
}

.pill-pale { background-color: var(--nord10-pale); }
.pill-green { background-color: var(--nord14); }
.pill-red { background-color: var(--nord11); }
.pill-orange { background-color: var(--nord12); }

.ptr { cursor: pointer; }
